-- MariaDB dump 10.19  Distrib 10.4.27-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: formation_db_1
-- ------------------------------------------------------
-- Server version	10.4.27-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `addons`
--

DROP TABLE IF EXISTS `addons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `addons` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `unique_identifier` varchar(255) NOT NULL,
  `version` varchar(255) DEFAULT NULL,
  `status` int(11) NOT NULL,
  `created_at` int(11) DEFAULT NULL,
  `updated_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `addons`
--

LOCK TABLES `addons` WRITE;
/*!40000 ALTER TABLE `addons` DISABLE KEYS */;
INSERT INTO `addons` VALUES (1,'Ekattor Online Course','online_courses','1.1',1,1677193200,NULL);
/*!40000 ALTER TABLE `addons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `announcement`
--

DROP TABLE IF EXISTS `announcement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `announcement` (
  `id` int(11) NOT NULL,
  `title` longtext DEFAULT NULL,
  `starting_date` varchar(255) DEFAULT NULL,
  `ending_date` varchar(255) DEFAULT NULL,
  `school_id` int(10) DEFAULT NULL,
  `session` int(10) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `announcement`
--

LOCK TABLES `announcement` WRITE;
/*!40000 ALTER TABLE `announcement` DISABLE KEYS */;
/*!40000 ALTER TABLE `announcement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `appointments`
--

DROP TABLE IF EXISTS `appointments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `appointments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `event_id` int(11) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `start_date` datetime NOT NULL,
  `end_date` datetime DEFAULT NULL,
  `classe_id` int(11) DEFAULT NULL,
  `Etat` int(11) DEFAULT 1,
  `sections_id` varchar(255) DEFAULT NULL,
  `meeting_id` varchar(255) DEFAULT NULL,
  `school_id` int(11) DEFAULT NULL,
  `visio` int(11) DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `appointments`
--

LOCK TABLES `appointments` WRITE;
/*!40000 ALTER TABLE `appointments` DISABLE KEYS */;
/*!40000 ALTER TABLE `appointments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assign_students`
--

DROP TABLE IF EXISTS `assign_students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `assign_students` (
  `id` int(255) unsigned NOT NULL AUTO_INCREMENT,
  `school_id` int(255) DEFAULT NULL,
  `class_id` int(255) DEFAULT NULL,
  `student_id` int(255) DEFAULT NULL,
  `date_added` int(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assign_students`
--

LOCK TABLES `assign_students` WRITE;
/*!40000 ALTER TABLE `assign_students` DISABLE KEYS */;
/*!40000 ALTER TABLE `assign_students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `billing_entities`
--

DROP TABLE IF EXISTS `billing_entities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `billing_entities` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(10) NOT NULL COMMENT 'Code unique (MA, UAE, EU, etc.)',
  `name` varchar(100) NOT NULL COMMENT 'Nom de l''entit├® (Decloedt SARL, Bouhouti, etc.)',
  `legal_name` varchar(200) NOT NULL COMMENT 'Raison sociale compl├¿te',
  `country_code` varchar(3) NOT NULL COMMENT 'Code pays ISO (MA, AE, FR, etc.)',
  `country_name` varchar(100) NOT NULL COMMENT 'Nom du pays',
  `country_flag` varchar(10) DEFAULT NULL COMMENT 'Emoji drapeau (??, ??, etc.)',
  `vat_rate` decimal(5,2) NOT NULL DEFAULT 0.00 COMMENT 'Taux TVA en pourcentage (20.00, 5.00, etc.)',
  `currency_code` varchar(3) NOT NULL COMMENT 'Code devise (MAD, AED, EUR, USD)',
  `currency_symbol` varchar(10) DEFAULT NULL COMMENT 'Symbole devise (DH, AED, Ôé¼, $)',
  `bank_name` varchar(100) DEFAULT NULL COMMENT 'Nom de la banque',
  `bank_country` varchar(50) DEFAULT NULL COMMENT 'Pays de la banque',
  `psp_name` varchar(50) DEFAULT NULL COMMENT 'Nom du PSP (Stripe, PayPal, CashPlus, etc.)',
  `psp_type` enum('local','international') DEFAULT 'international' COMMENT 'Type de PSP',
  `address` text DEFAULT NULL COMMENT 'Adresse compl├¿te',
  `vat_number` varchar(50) DEFAULT NULL COMMENT 'Num├®ro TVA / ICE',
  `registration_number` varchar(50) DEFAULT NULL COMMENT 'Num├®ro RC / registre commerce',
  `email` varchar(100) DEFAULT NULL COMMENT 'Email de contact',
  `phone` varchar(30) DEFAULT NULL COMMENT 'T├®l├®phone',
  `is_default` tinyint(1) NOT NULL DEFAULT 0 COMMENT 'Entit├® par d├®faut',
  `is_active` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Entit├® active',
  `applies_to` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Liste des pays/r├®gions concern├®s' CHECK (json_valid(`applies_to`)),
  `display_order` int(11) DEFAULT 0 COMMENT 'Ordre d''affichage',
  `color_primary` varchar(7) DEFAULT '#1a237e' COMMENT 'Couleur principale (hex)',
  `color_secondary` varchar(7) DEFAULT '#3949ab' COMMENT 'Couleur secondaire (hex)',
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` int(11) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_code` (`code`),
  KEY `idx_country_code` (`country_code`),
  KEY `idx_is_active` (`is_active`),
  KEY `idx_is_default` (`is_default`),
  KEY `idx_billing_entities_lookup` (`code`,`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Entit├®s de facturation WAYO';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `billing_entities`
--

LOCK TABLES `billing_entities` WRITE;
/*!40000 ALTER TABLE `billing_entities` DISABLE KEYS */;
/*!40000 ALTER TABLE `billing_entities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `billing_entity_credentials`
--

DROP TABLE IF EXISTS `billing_entity_credentials`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `billing_entity_credentials` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `billing_entity_id` int(11) unsigned NOT NULL,
  `provider` varchar(20) NOT NULL COMMENT 'stripe, paypal, cashplus, cmi',
  `mode` enum('test','live','sandbox','production') DEFAULT 'test',
  `is_active` tinyint(1) DEFAULT 1,
  `test_public_key` varchar(255) DEFAULT NULL,
  `test_secret_key` varchar(255) DEFAULT NULL,
  `live_public_key` varchar(255) DEFAULT NULL,
  `live_secret_key` varchar(255) DEFAULT NULL,
  `sandbox_client_id` varchar(255) DEFAULT NULL,
  `sandbox_secret` varchar(255) DEFAULT NULL,
  `production_client_id` varchar(255) DEFAULT NULL,
  `production_secret` varchar(255) DEFAULT NULL,
  `currency` varchar(3) DEFAULT NULL,
  `webhook_secret` varchar(255) DEFAULT NULL,
  `account_name` varchar(100) DEFAULT NULL COMMENT 'Nom du compte pour r??f??rence',
  `account_email` varchar(100) DEFAULT NULL COMMENT 'Email du compte PSP',
  `notes` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_entity_provider` (`billing_entity_id`,`provider`),
  KEY `idx_provider` (`provider`),
  KEY `idx_active` (`is_active`),
  CONSTRAINT `fk_bec_entity` FOREIGN KEY (`billing_entity_id`) REFERENCES `billing_entities` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Credentials PSP par entit?? de facturation';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `billing_entity_credentials`
--

LOCK TABLES `billing_entity_credentials` WRITE;
/*!40000 ALTER TABLE `billing_entity_credentials` DISABLE KEYS */;
/*!40000 ALTER TABLE `billing_entity_credentials` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `billing_entity_mappings`
--

DROP TABLE IF EXISTS `billing_entity_mappings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `billing_entity_mappings` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `tax_residence_code` varchar(10) NOT NULL COMMENT 'Code Tax_residence (MA, UAE, AE, EU, etc.)',
  `billing_entity_id` int(11) unsigned NOT NULL COMMENT 'ID de l''entit├® de facturation',
  `priority` int(11) DEFAULT 0 COMMENT 'Priorit├® (plus haut = plus prioritaire)',
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_tax_residence` (`tax_residence_code`),
  KEY `idx_billing_entity` (`billing_entity_id`),
  CONSTRAINT `fk_billing_entity` FOREIGN KEY (`billing_entity_id`) REFERENCES `billing_entities` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Mapping Tax Residence -> Entit├® de facturation';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `billing_entity_mappings`
--

LOCK TABLES `billing_entity_mappings` WRITE;
/*!40000 ALTER TABLE `billing_entity_mappings` DISABLE KEYS */;
INSERT INTO `billing_entity_mappings` VALUES (1,'MA',1,100,1,'2025-12-26 18:54:02'),(2,'UAE',2,100,1,'2025-12-26 18:54:02'),(3,'AE',2,100,1,'2025-12-26 18:54:02');
/*!40000 ALTER TABLE `billing_entity_mappings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `billing_entity_payment_methods`
--

DROP TABLE IF EXISTS `billing_entity_payment_methods`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `billing_entity_payment_methods` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `billing_entity_id` int(11) unsigned NOT NULL,
  `method_code` varchar(20) NOT NULL COMMENT 'Code du moyen: stripe, paypal, cashplus, cmi, bank_transfer',
  `is_default` tinyint(1) DEFAULT 0 COMMENT 'Moyen de paiement par d├®faut pour cette entit├®',
  `is_active` tinyint(1) DEFAULT 1,
  `priority` int(11) DEFAULT 0 COMMENT 'Ordre d''affichage',
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_entity_method` (`billing_entity_id`,`method_code`),
  KEY `idx_entity` (`billing_entity_id`),
  KEY `idx_method` (`method_code`),
  CONSTRAINT `fk_bepm_entity` FOREIGN KEY (`billing_entity_id`) REFERENCES `billing_entities` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Moyens de paiement autoris├®s par entit├®';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `billing_entity_payment_methods`
--

LOCK TABLES `billing_entity_payment_methods` WRITE;
/*!40000 ALTER TABLE `billing_entity_payment_methods` DISABLE KEYS */;
INSERT INTO `billing_entity_payment_methods` VALUES (1,1,'stripe',0,1,0,'2025-12-27 18:22:59'),(2,1,'paypal',0,1,0,'2025-12-27 18:23:00'),(6,2,'stripe',0,1,0,'2025-12-27 18:23:00'),(7,2,'paypal',0,1,0,'2025-12-27 18:23:00'),(8,2,'bank_transfer',0,1,0,'2025-12-27 18:23:00'),(12,1,'cashplus',0,1,3,'2025-12-29 14:40:57'),(13,1,'cmi',0,1,4,'2025-12-29 14:40:57'),(14,1,'bank_transfer',0,1,0,'2025-12-29 14:40:57');
/*!40000 ALTER TABLE `billing_entity_payment_methods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `book_issues`
--

DROP TABLE IF EXISTS `book_issues`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `book_issues` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `book_id` int(11) DEFAULT NULL,
  `class_id` int(11) DEFAULT NULL,
  `student_id` int(11) DEFAULT NULL,
  `issue_date` varchar(255) DEFAULT NULL,
  `status` int(11) DEFAULT 0,
  `school_id` int(11) DEFAULT NULL,
  `session` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `book_issues`
--

LOCK TABLES `book_issues` WRITE;
/*!40000 ALTER TABLE `book_issues` DISABLE KEYS */;
INSERT INTO `book_issues` VALUES (1,2,1,2,'1708902000',0,1,'1',NULL,NULL),(3,4,1,38,'1729033200',1,1,'3',NULL,NULL),(4,4,1,38,'1729033200',0,1,'3',NULL,NULL),(6,5,3,2,'1729206000',1,13,'1',NULL,NULL);
/*!40000 ALTER TABLE `book_issues` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `books`
--

DROP TABLE IF EXISTS `books`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `books` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `author` varchar(255) DEFAULT NULL,
  `copies` int(11) DEFAULT NULL,
  `school_id` int(11) DEFAULT NULL,
  `session` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `books`
--

LOCK TABLES `books` WRITE;
/*!40000 ALTER TABLE `books` DISABLE KEYS */;
INSERT INTO `books` VALUES (1,'khawf','dsfsd',30,1,'1',NULL,NULL),(2,'scrim','med',40,1,'1',NULL,NULL),(4,'dfds','dsfsd',6,1,'3',NULL,NULL),(5,'xdvcsd','dsfsd',2,13,'1',NULL,NULL);
/*!40000 ALTER TABLE `books` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categories` (
  `id` int(11) NOT NULL,
  `name` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ci_sessions`
--

DROP TABLE IF EXISTS `ci_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ci_sessions` (
  `id` varchar(40) DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `timestamp` int(10) NOT NULL DEFAULT 0,
  `data` blob DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ci_sessions`
--

LOCK TABLES `ci_sessions` WRITE;
/*!40000 ALTER TABLE `ci_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `ci_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `class_rooms`
--

DROP TABLE IF EXISTS `class_rooms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `class_rooms` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `school_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `class_rooms`
--

LOCK TABLES `class_rooms` WRITE;
/*!40000 ALTER TABLE `class_rooms` DISABLE KEYS */;
INSERT INTO `class_rooms` VALUES (1,'yyyyy',13),(2,'gtrf',1),(3,'999999',13),(6,'csrf0',1),(9,'eee',1),(10,'wxwwx',13),(12,'fghf',1);
/*!40000 ALTER TABLE `class_rooms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classes`
--

DROP TABLE IF EXISTS `classes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `classes` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `school_id` int(11) DEFAULT NULL,
  `price` int(11) NOT NULL,
  `humhub_space_id` int(11) DEFAULT NULL,
  `kb_sale_mode` varchar(16) DEFAULT NULL,
  `kb_currency` char(3) DEFAULT NULL,
  `kb_billing_period` varchar(32) DEFAULT NULL,
  `kb_category` varchar(16) DEFAULT NULL,
  `kb_plan_id` varchar(128) DEFAULT NULL,
  `kb_product_name` varchar(128) DEFAULT NULL,
  `kb_pricing_amount` decimal(10,2) DEFAULT NULL,
  `date_debut` date DEFAULT NULL,
  `date_fin` date DEFAULT NULL,
  `statut` enum('active','inactive') NOT NULL DEFAULT 'inactive',
  `photo` varchar(255) DEFAULT NULL,
  `nombre_max_membre` int(10) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=124 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classes`
--

LOCK TABLES `classes` WRITE;
/*!40000 ALTER TABLE `classes` DISABLE KEYS */;
/*!40000 ALTER TABLE `classes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `common_settings`
--

DROP TABLE IF EXISTS `common_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `common_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `type` varchar(255) DEFAULT NULL,
  `description` longtext DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `common_settings`
--

LOCK TABLES `common_settings` WRITE;
/*!40000 ALTER TABLE `common_settings` DISABLE KEYS */;
INSERT INTO `common_settings` VALUES (1,'recaptcha_status','0'),(2,'recaptcha_sitekey','enter-your-recaptcha-sitekey9cc'),(3,'recaptcha_secretkey','enter-your-recaptcha-secretkey');
/*!40000 ALTER TABLE `common_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course`
--

DROP TABLE IF EXISTS `course`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `course` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(255) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `outcomes` text DEFAULT NULL,
  `class_id` int(11) DEFAULT NULL,
  `section` text DEFAULT NULL,
  `subject_id` int(11) DEFAULT NULL,
  `user_id` int(11) DEFAULT NULL,
  `thumbnail` varchar(255) DEFAULT NULL,
  `course_overview_url` varchar(255) DEFAULT NULL,
  `date_added` int(11) DEFAULT NULL,
  `last_modified` int(11) DEFAULT NULL,
  `visibility` int(11) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `course_overview_provider` varchar(255) DEFAULT NULL,
  `school_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course`
--

LOCK TABLES `course` WRITE;
/*!40000 ALTER TABLE `course` DISABLE KEYS */;
/*!40000 ALTER TABLE `course` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course_classes`
--

DROP TABLE IF EXISTS `course_classes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `course_classes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `course_id` int(10) unsigned NOT NULL,
  `class_id` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `course_id` (`course_id`),
  KEY `class_id` (`class_id`),
  CONSTRAINT `course_classes_ibfk_1` FOREIGN KEY (`course_id`) REFERENCES `course` (`id`) ON DELETE CASCADE,
  CONSTRAINT `course_classes_ibfk_2` FOREIGN KEY (`class_id`) REFERENCES `classes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course_classes`
--

LOCK TABLES `course_classes` WRITE;
/*!40000 ALTER TABLE `course_classes` DISABLE KEYS */;
INSERT INTO `course_classes` VALUES (3,23,1),(4,23,2),(7,26,6),(22,1,1),(23,1,2),(24,1,8),(25,2,2),(26,2,9),(27,3,6),(28,27,117),(29,28,117),(30,6,9),(31,29,120),(32,30,121);
/*!40000 ALTER TABLE `course_classes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course_section`
--

DROP TABLE IF EXISTS `course_section`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `course_section` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(255) DEFAULT NULL,
  `course_id` int(11) DEFAULT NULL,
  `orders` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course_section`
--

LOCK TABLES `course_section` WRITE;
/*!40000 ALTER TABLE `course_section` DISABLE KEYS */;
INSERT INTO `course_section` VALUES (1,'t1',1,1),(2,'rrrrrr6tt',1,NULL),(3,'1',2,NULL),(5,'2',2,NULL),(6,'hjg',3,NULL),(7,'yhj',4,NULL),(9,'tdf',4,NULL),(10,'dt',3,NULL),(11,'1',13,NULL),(12,'2',13,NULL),(13,'3',13,NULL),(14,'fdgd',14,NULL),(18,'fffffss0',17,2),(20,'rfgedgdd00xd',19,1),(26,'dsfds',19,NULL),(27,'dsdfs',20,NULL),(28,'fgdgdfgdfs',21,NULL),(29,'sqs',22,NULL),(30,'xcx',23,NULL),(31,'ssssssss',28,NULL),(32,'vvvvvvv',6,NULL),(33,'ddddddddd',30,NULL);
/*!40000 ALTER TABLE `course_section` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course_teachers`
--

DROP TABLE IF EXISTS `course_teachers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `course_teachers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `course_id` int(10) unsigned NOT NULL,
  `user_id` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `course_id` (`course_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `course_teachers_ibfk_1` FOREIGN KEY (`course_id`) REFERENCES `course` (`id`) ON DELETE CASCADE,
  CONSTRAINT `course_teachers_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course_teachers`
--

LOCK TABLES `course_teachers` WRITE;
/*!40000 ALTER TABLE `course_teachers` DISABLE KEYS */;
INSERT INTO `course_teachers` VALUES (3,23,5),(4,23,157),(9,26,1),(23,1,5),(24,1,157),(25,2,1),(26,2,157),(27,3,158),(28,3,159),(29,27,361),(30,28,362),(31,6,1),(32,29,363),(33,30,266);
/*!40000 ALTER TABLE `course_teachers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `currencies`
--

DROP TABLE IF EXISTS `currencies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `currencies` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `code` varchar(255) DEFAULT NULL,
  `symbol` varchar(255) DEFAULT NULL,
  `paypal_supported` int(11) DEFAULT NULL,
  `stripe_supported` int(11) DEFAULT NULL,
  `paystack_supported` int(11) DEFAULT 0,
  `payumoney_supported` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=116 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci ROW_FORMAT=COMPACT;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `currencies`
--

LOCK TABLES `currencies` WRITE;
/*!40000 ALTER TABLE `currencies` DISABLE KEYS */;
/*!40000 ALTER TABLE `currencies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daily_attendances`
--

DROP TABLE IF EXISTS `daily_attendances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `daily_attendances` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `timestamp` varchar(255) DEFAULT NULL,
  `class_id` int(11) DEFAULT NULL,
  `section_id` int(11) DEFAULT NULL,
  `student_id` int(11) DEFAULT NULL,
  `status` int(11) DEFAULT NULL,
  `session_id` varchar(255) DEFAULT NULL,
  `school_id` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=238 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daily_attendances`
--

LOCK TABLES `daily_attendances` WRITE;
/*!40000 ALTER TABLE `daily_attendances` DISABLE KEYS */;
/*!40000 ALTER TABLE `daily_attendances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `enrols`
--

DROP TABLE IF EXISTS `enrols`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `enrols` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `student_id` int(11) DEFAULT NULL,
  `class_id` int(11) DEFAULT NULL,
  `section_id` int(11) DEFAULT NULL,
  `school_id` int(11) DEFAULT NULL,
  `session` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=220 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci ROW_FORMAT=COMPACT;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `enrols`
--

LOCK TABLES `enrols` WRITE;
/*!40000 ALTER TABLE `enrols` DISABLE KEYS */;
/*!40000 ALTER TABLE `enrols` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `event_calendars`
--

DROP TABLE IF EXISTS `event_calendars`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `event_calendars` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `starting_date` date NOT NULL,
  `starting_time` time NOT NULL,
  `ending_date` date DEFAULT NULL,
  `ending_time` time NOT NULL,
  `school_id` int(10) DEFAULT NULL,
  `session` int(10) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `class_id` int(11) NOT NULL,
  `recurrence_type` enum('does_not_repeat','every_weekday','daily','weekly','monthly','yearly','custom') DEFAULT 'does_not_repeat',
  `recurrence_end_date` date DEFAULT NULL,
  `custom_recurrence` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`custom_recurrence`)),
  `visio` int(11) DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `event_calendars`
--

LOCK TABLES `event_calendars` WRITE;
/*!40000 ALTER TABLE `event_calendars` DISABLE KEYS */;
/*!40000 ALTER TABLE `event_calendars` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exam_questions`
--

DROP TABLE IF EXISTS `exam_questions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `exam_questions` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `title` text DEFAULT NULL,
  `exam_id` int(11) unsigned DEFAULT NULL,
  `type` varchar(255) DEFAULT NULL,
  `number_of_options` int(11) DEFAULT NULL,
  `options` text DEFAULT NULL,
  `correct_answers` text DEFAULT NULL,
  `order` int(11) DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `exam_id` (`exam_id`),
  CONSTRAINT `exam_questions_ibfk_1` FOREIGN KEY (`exam_id`) REFERENCES `exams` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exam_questions`
--

LOCK TABLES `exam_questions` WRITE;
/*!40000 ALTER TABLE `exam_questions` DISABLE KEYS */;
INSERT INTO `exam_questions` VALUES (1,'xxxxxx',16,'multiple_choice',2,'[\"xx\",\"xxxx\"]','[\"2\"]',0),(2,'xxxxxx',16,'multiple_choice',2,'[\"xx\",\"xxxx\"]','[\"2\"]',0);
/*!40000 ALTER TABLE `exam_questions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exam_responses`
--

DROP TABLE IF EXISTS `exam_responses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `exam_responses` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(11) unsigned NOT NULL,
  `exam_id` int(11) unsigned NOT NULL,
  `exam_question_id` int(11) unsigned NOT NULL,
  `submitted_answers` text NOT NULL,
  `correct_answers` text NOT NULL,
  `submitted_answer_status` tinyint(4) NOT NULL,
  `date_submitted` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `exam_id` (`exam_id`),
  KEY `exam_question_id` (`exam_question_id`),
  CONSTRAINT `exam_responses_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `exam_responses_ibfk_2` FOREIGN KEY (`exam_id`) REFERENCES `exams` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `exam_responses_ibfk_3` FOREIGN KEY (`exam_question_id`) REFERENCES `exam_questions` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exam_responses`
--

LOCK TABLES `exam_responses` WRITE;
/*!40000 ALTER TABLE `exam_responses` DISABLE KEYS */;
INSERT INTO `exam_responses` VALUES (1,123,16,1,'xx','xxxx',0,'2025-07-24 17:20:09'),(2,123,16,2,'xxxx','xxxx',1,'2025-07-24 17:20:09');
/*!40000 ALTER TABLE `exam_responses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exams`
--

DROP TABLE IF EXISTS `exams`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `exams` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `starting_date` varchar(255) DEFAULT NULL,
  `class_id` int(11) DEFAULT NULL,
  `section_id` int(11) DEFAULT NULL,
  `school_id` int(11) DEFAULT NULL,
  `session` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exams`
--

LOCK TABLES `exams` WRITE;
/*!40000 ALTER TABLE `exams` DISABLE KEYS */;
/*!40000 ALTER TABLE `exams` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expense_categories`
--

DROP TABLE IF EXISTS `expense_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `expense_categories` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `school_id` int(11) DEFAULT NULL,
  `session` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expense_categories`
--

LOCK TABLES `expense_categories` WRITE;
/*!40000 ALTER TABLE `expense_categories` DISABLE KEYS */;
INSERT INTO `expense_categories` VALUES (2,'ppppppp',1,'1'),(3,'test',13,'1'),(4,'ddd',1,'1'),(6,'sfdge',1,'3'),(7,'wqsxqs',13,'1');
/*!40000 ALTER TABLE `expense_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expenses`
--

DROP TABLE IF EXISTS `expenses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `expenses` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `expense_category_id` int(11) DEFAULT NULL,
  `date` int(11) DEFAULT NULL,
  `amount` varchar(255) DEFAULT NULL,
  `school_id` int(11) DEFAULT NULL,
  `session` varchar(255) DEFAULT '',
  `created_at` int(11) DEFAULT NULL,
  `updated_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expenses`
--

LOCK TABLES `expenses` WRITE;
/*!40000 ALTER TABLE `expenses` DISABLE KEYS */;
INSERT INTO `expenses` VALUES (1,1,1708902000,'500',1,'1',1708902000,NULL),(2,1,1719961200,'500',1,'1',1719961200,NULL),(3,3,1722898800,'500',13,'1',1722898800,NULL),(4,2,1728255600,'500',1,'1',1728255600,NULL),(5,3,1729206000,'500',13,'1',1729206000,NULL);
/*!40000 ALTER TABLE `expenses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `frontend_events`
--

DROP TABLE IF EXISTS `frontend_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `frontend_events` (
  `frontend_events_id` int(11) NOT NULL AUTO_INCREMENT,
  `title` text DEFAULT NULL,
  `timestamp` int(11) NOT NULL,
  `status` int(11) NOT NULL DEFAULT 0 COMMENT '0-inactive, 1-active',
  `school_id` int(11) NOT NULL,
  `created_by` int(11) NOT NULL,
  PRIMARY KEY (`frontend_events_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `frontend_events`
--

LOCK TABLES `frontend_events` WRITE;
/*!40000 ALTER TABLE `frontend_events` DISABLE KEYS */;
INSERT INTO `frontend_events` VALUES (1,'ffere',1708902000,1,1,1),(3,'dsdsd',1728428400,1,1,1);
/*!40000 ALTER TABLE `frontend_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `frontend_gallery`
--

DROP TABLE IF EXISTS `frontend_gallery`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `frontend_gallery` (
  `frontend_gallery_id` int(11) NOT NULL AUTO_INCREMENT,
  `title` text DEFAULT NULL,
  `description` longtext DEFAULT NULL,
  `date_added` int(11) DEFAULT NULL,
  `image` text DEFAULT NULL,
  `show_on_website` int(11) NOT NULL DEFAULT 0 COMMENT '0-no 1-yes',
  `school_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`frontend_gallery_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `frontend_gallery`
--

LOCK TABLES `frontend_gallery` WRITE;
/*!40000 ALTER TABLE `frontend_gallery` DISABLE KEYS */;
INSERT INTO `frontend_gallery` VALUES (1,'qsdqsd','qsdqsdqsd',1728428400,'OX9LeoQMbc5Z0B4.jpg',1,1),(3,'cccccc','cccccccccc',1728428400,'0K1xFabQITmDAyG.jpg',1,1);
/*!40000 ALTER TABLE `frontend_gallery` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `frontend_gallery_image`
--

DROP TABLE IF EXISTS `frontend_gallery_image`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `frontend_gallery_image` (
  `frontend_gallery_image_id` int(11) NOT NULL AUTO_INCREMENT,
  `frontend_gallery_id` int(11) DEFAULT NULL,
  `title` text DEFAULT NULL,
  `image` text DEFAULT NULL,
  PRIMARY KEY (`frontend_gallery_image_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `frontend_gallery_image`
--

LOCK TABLES `frontend_gallery_image` WRITE;
/*!40000 ALTER TABLE `frontend_gallery_image` DISABLE KEYS */;
/*!40000 ALTER TABLE `frontend_gallery_image` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `frontend_settings`
--

DROP TABLE IF EXISTS `frontend_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `frontend_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `about_us` longtext DEFAULT NULL,
  `terms_conditions` longtext DEFAULT NULL,
  `privacy_policy` longtext DEFAULT NULL,
  `social_links` longtext DEFAULT NULL,
  `copyright_text` longtext DEFAULT NULL,
  `about_us_image` longtext DEFAULT NULL,
  `slider_images` longtext DEFAULT NULL,
  `theme` longtext DEFAULT NULL,
  `homepage_note_title` longtext DEFAULT NULL,
  `homepage_note_description` longtext DEFAULT NULL,
  `website_title` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `frontend_settings`
--

LOCK TABLES `frontend_settings` WRITE;
/*!40000 ALTER TABLE `frontend_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `frontend_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fx_rates_daily`
--

DROP TABLE IF EXISTS `fx_rates_daily`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fx_rates_daily` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `rate_date` date NOT NULL COMMENT 'Date of the rates (YYYY-MM-DD)',
  `base_code` varchar(3) NOT NULL DEFAULT 'USD' COMMENT 'Base currency code',
  `usd` decimal(12,6) NOT NULL DEFAULT 1.000000 COMMENT 'USD rate (always 1 for USD base)',
  `eur` decimal(12,6) NOT NULL COMMENT 'EUR conversion rate',
  `gbp` decimal(12,6) DEFAULT NULL,
  `mad` decimal(12,6) NOT NULL COMMENT 'MAD conversion rate',
  `aed` decimal(12,6) NOT NULL COMMENT 'AED conversion rate',
  `source` varchar(32) NOT NULL DEFAULT 'exchange-rate-api' COMMENT 'Data source identifier',
  `fetched_at` datetime NOT NULL COMMENT 'When the data was fetched from API',
  `status` varchar(16) NOT NULL DEFAULT 'ok' COMMENT 'Status: ok|stale|error',
  `raw_json` longtext DEFAULT NULL COMMENT 'Raw JSON response from API (for debugging)',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_rate_date_base` (`rate_date`,`base_code`),
  KEY `idx_rate_date` (`rate_date`),
  KEY `idx_status` (`status`),
  KEY `idx_fetched_at` (`fetched_at`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Daily FX rates storage';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_rates_daily`
--

LOCK TABLES `fx_rates_daily` WRITE;
/*!40000 ALTER TABLE `fx_rates_daily` DISABLE KEYS */;
/*!40000 ALTER TABLE `fx_rates_daily` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grades`
--

DROP TABLE IF EXISTS `grades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `grades` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `grade_point` varchar(255) DEFAULT NULL,
  `mark_from` varchar(255) DEFAULT NULL,
  `mark_upto` varchar(255) DEFAULT NULL,
  `comment` longtext DEFAULT NULL,
  `school_id` int(11) DEFAULT NULL,
  `session` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grades`
--

LOCK TABLES `grades` WRITE;
/*!40000 ALTER TABLE `grades` DISABLE KEYS */;
INSERT INTO `grades` VALUES (1,'fgthfg','20','19','13',NULL,1,'1',NULL,NULL),(3,'rrrrr','5','2','4',NULL,1,'3',NULL,NULL),(4,'fffffff','6','5','7',NULL,13,'1',NULL,NULL),(6,'zzzzzzzz','8','9','10',NULL,13,'1',NULL,NULL);
/*!40000 ALTER TABLE `grades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoices`
--

DROP TABLE IF EXISTS `invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `invoices` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) DEFAULT NULL,
  `total_amount` int(11) DEFAULT NULL,
  `vat_amount` decimal(10,2) DEFAULT 0.00 COMMENT 'Montant de la TVA',
  `tax_country` varchar(100) DEFAULT NULL COMMENT 'Country name for tax purposes (from settings_school.Tax_residence)',
  `legal_entity_name` varchar(255) DEFAULT NULL COMMENT 'Legal entity name for invoicing based on tax residence',
  `legal_entity_country` varchar(255) DEFAULT NULL COMMENT 'Legal entity country',
  `vat_rate` decimal(5,2) DEFAULT 0.00 COMMENT 'Taux de TVA en pourcentage (ex: 20.00 pour 20%)',
  `sub_total` decimal(10,2) DEFAULT NULL COMMENT 'Montant HT (hors taxes)',
  `processor_fee_ht` decimal(10,2) DEFAULT NULL COMMENT 'CashPlus fee HT (3% of sale HT)',
  `processor_fee_vat` decimal(10,2) DEFAULT NULL COMMENT 'CashPlus fee VAT (20% of fee HT)',
  `processor_fee_ttc` decimal(10,2) DEFAULT NULL COMMENT 'CashPlus fee TTC (HT + VAT)',
  `net_cash` decimal(10,2) DEFAULT NULL COMMENT 'Net cash received (TTC - sale VAT - fees TTC)',
  `net_economic` decimal(10,2) DEFAULT NULL COMMENT 'Net economic (sale HT - fee HT) - B2B deductible',
  `class_id` int(11) DEFAULT NULL,
  `student_id` int(11) DEFAULT NULL,
  `payment_method` longtext DEFAULT NULL,
  `paid_amount` int(11) DEFAULT NULL,
  `status` longtext DEFAULT NULL,
  `period_start` int(11) DEFAULT NULL,
  `period_end` int(11) DEFAULT NULL,
  `stripe_payment_intent_id` varchar(255) DEFAULT NULL,
  `stripe_invoice_id` varchar(255) DEFAULT NULL,
  `paid_at` int(11) DEFAULT NULL,
  `school_id` int(11) DEFAULT NULL,
  `session` varchar(255) DEFAULT NULL,
  `created_at` int(11) DEFAULT NULL,
  `updated_at` int(11) DEFAULT NULL COMMENT 'This column is all about payment taking date',
  `kb_invoice_id` varchar(36) DEFAULT NULL,
  `kb_account_id` varchar(36) DEFAULT NULL,
  `currency` varchar(3) DEFAULT NULL,
  `payment_currency` varchar(3) DEFAULT NULL COMMENT 'Currency used for actual payment (e.g., USD, EUR, GBP)',
  `payment_amount_converted` decimal(10,2) DEFAULT NULL COMMENT 'Amount paid in payment currency after FX conversion',
  `fx_rate` decimal(12,6) DEFAULT NULL COMMENT 'Exchange rate applied (1 invoice_currency = X payment_currency)',
  `fx_rate_date` date DEFAULT NULL COMMENT 'Date of the exchange rate used',
  `conversion_applied` tinyint(1) DEFAULT 0 COMMENT '1 if currency conversion was applied, 0 otherwise',
  `payment_type` enum('class_enrol','community_join','subscription_admin') DEFAULT 'class_enrol' COMMENT 'Type of payment',
  `payment_id` int(11) DEFAULT NULL,
  `exchange_rate` decimal(12,6) DEFAULT NULL COMMENT 'Taux de change appliqu├®',
  `conversion_date` int(11) DEFAULT NULL COMMENT 'Timestamp de la conversion de devise',
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_unique_subscription_period` (`school_id`,`payment_type`,`period_start`),
  KEY `idx_kb_invoice_id` (`kb_invoice_id`),
  KEY `idx_kb_account_id` (`kb_account_id`),
  KEY `idx_payment_currency` (`payment_currency`),
  KEY `idx_conversion_applied` (`conversion_applied`),
  KEY `idx_invoices_payment_type_status` (`payment_type`,`status`(333)),
  KEY `idx_invoices_school_period` (`school_id`,`period_start`,`period_end`),
  KEY `idx_invoices_stripe_payment_intent` (`stripe_payment_intent_id`),
  KEY `idx_invoices_stripe_invoice` (`stripe_invoice_id`),
  KEY `idx_invoices_created_at` (`created_at`),
  KEY `idx_invoices_payment_status` (`payment_type`,`status`(333)),
  KEY `idx_invoices_school_created` (`school_id`,`created_at`),
  KEY `idx_invoices_period` (`period_start`,`period_end`),
  KEY `idx_invoices_payment_currency` (`payment_currency`),
  KEY `idx_invoices_exchange_rate` (`exchange_rate`),
  KEY `idx_invoices_conversion_date` (`conversion_date`),
  KEY `idx_processor_fees` (`processor_fee_ht`,`processor_fee_vat`,`processor_fee_ttc`),
  KEY `idx_invoices_tax_country` (`tax_country`),
  KEY `idx_invoices_legal_entity` (`legal_entity_name`)
) ENGINE=MyISAM AUTO_INCREMENT=278 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoices`
--

LOCK TABLES `invoices` WRITE;
/*!40000 ALTER TABLE `invoices` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lesson`
--

DROP TABLE IF EXISTS `lesson`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lesson` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(255) DEFAULT NULL,
  `duration` varchar(255) DEFAULT NULL,
  `course_id` int(11) DEFAULT NULL,
  `section_id` int(11) DEFAULT NULL,
  `video_type` varchar(255) DEFAULT NULL,
  `video_url` varchar(255) DEFAULT NULL,
  `lesson_type` varchar(255) DEFAULT NULL,
  `attachment` varchar(255) DEFAULT NULL,
  `attachment_type` varchar(255) DEFAULT NULL,
  `summary` text DEFAULT NULL,
  `order` int(11) DEFAULT 0,
  `date_added` int(11) DEFAULT NULL,
  `last_modified` int(11) DEFAULT NULL,
  `video_uplaod` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=76 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lesson`
--

LOCK TABLES `lesson` WRITE;
/*!40000 ALTER TABLE `lesson` DISABLE KEYS */;
/*!40000 ALTER TABLE `lesson` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marks`
--

DROP TABLE IF EXISTS `marks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `marks` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `student_id` int(11) DEFAULT NULL,
  `subject_id` int(11) DEFAULT NULL,
  `class_id` int(11) DEFAULT NULL,
  `section_id` int(11) DEFAULT NULL,
  `exam_id` int(11) DEFAULT NULL,
  `mark_obtained` int(11) DEFAULT 0,
  `comment` longtext DEFAULT NULL,
  `session` int(11) DEFAULT NULL,
  `school_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marks`
--

LOCK TABLES `marks` WRITE;
/*!40000 ALTER TABLE `marks` DISABLE KEYS */;
/*!40000 ALTER TABLE `marks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menus`
--

DROP TABLE IF EXISTS `menus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `menus` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `displayed_name` varchar(255) DEFAULT NULL,
  `route_name` varchar(255) DEFAULT NULL,
  `parent` int(11) DEFAULT NULL,
  `icon` varchar(255) DEFAULT NULL,
  `status` int(11) DEFAULT 1,
  `superadmin_access` int(11) NOT NULL DEFAULT 0,
  `admin_access` int(11) NOT NULL DEFAULT 0,
  `teacher_access` int(11) NOT NULL DEFAULT 0,
  `student_access` int(11) NOT NULL DEFAULT 0,
  `accountant_access` int(11) NOT NULL DEFAULT 0,
  `librarian_access` int(11) NOT NULL DEFAULT 0,
  `sort_order` int(11) NOT NULL,
  `is_addon` int(11) NOT NULL DEFAULT 0 COMMENT 'If the value is 1 that means its an addon.',
  `unique_identifier` varchar(255) DEFAULT NULL COMMENT 'It is mandatory for addons',
  `category_order` int(11) NOT NULL,
  `category` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=145 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci ROW_FORMAT=COMPACT;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menus`
--

LOCK TABLES `menus` WRITE;
/*!40000 ALTER TABLE `menus` DISABLE KEYS */;
/*!40000 ALTER TABLE `menus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `noticeboard`
--

DROP TABLE IF EXISTS `noticeboard`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `noticeboard` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `notice_title` longtext DEFAULT NULL,
  `notice` longtext DEFAULT NULL,
  `date` varchar(255) DEFAULT NULL,
  `status` int(11) DEFAULT 1,
  `show_on_website` int(11) DEFAULT 0,
  `image` text DEFAULT NULL,
  `school_id` int(11) NOT NULL,
  `session` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=7 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `noticeboard`
--

LOCK TABLES `noticeboard` WRITE;
/*!40000 ALTER TABLE `noticeboard` DISABLE KEYS */;
INSERT INTO `noticeboard` VALUES (1,'yuyuyu','gjgj','02/26/2024 00:00:1',1,1,'placeholder.png',1,1),(2,'sdf','dsfs','09/25/2024 00:00:1',1,1,'placeholder.png',1,1),(4,'58998','454554','10/16/2024 00:00:1',1,1,'placeholder.png',1,1),(5,'swxcdqs','qsdqs','10/18/2024 00:00:1',1,1,'placeholder.png',13,1);
/*!40000 ALTER TABLE `noticeboard` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `message` text NOT NULL,
  `link` varchar(255) DEFAULT NULL,
  `is_read` tinyint(1) DEFAULT 0,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
INSERT INTO `notifications` VALUES (1,1,'fdgdfg','dfgdfdggfd',1,'2025-05-21 15:25:54');
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_items`
--

DROP TABLE IF EXISTS `order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `order_items` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `order_id` bigint(20) NOT NULL,
  `course_id` bigint(20) NOT NULL,
  `unit_price_cents` int(11) NOT NULL,
  `quantity` int(11) NOT NULL DEFAULT 1,
  `kb_invoice_item_id` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_oi_order` (`order_id`),
  CONSTRAINT `fk_oi_order` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_items`
--

LOCK TABLES `order_items` WRITE;
/*!40000 ALTER TABLE `order_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `orders` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `buyer_user_id` bigint(20) NOT NULL,
  `school_id` bigint(20) NOT NULL,
  `total_amount_cents` int(11) NOT NULL,
  `currency` varchar(3) NOT NULL DEFAULT 'EUR',
  `platform_fee_cents` int(11) NOT NULL DEFAULT 0,
  `tax_amount_cents` int(11) NOT NULL DEFAULT 0,
  `kb_invoice_id` varchar(36) DEFAULT NULL,
  `kb_payment_id` varchar(36) DEFAULT NULL,
  `psp_charge_id` varchar(255) DEFAULT NULL,
  `status` enum('pending','paid','failed','refunded','canceled') NOT NULL DEFAULT 'pending',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL,
  `platform_fee_rate` decimal(6,5) DEFAULT 0.02500,
  `net_amount_cents` int(11) DEFAULT 0,
  `kb_account_id` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_kb_invoice` (`kb_invoice_id`),
  KEY `idx_kb_payment` (`kb_payment_id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `participants`
--

DROP TABLE IF EXISTS `participants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `participants` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `meeting_id` varchar(255) NOT NULL,
  `user_id` int(10) unsigned NOT NULL,
  `username` varchar(255) NOT NULL,
  `role` varchar(255) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `meeting_id` (`meeting_id`),
  CONSTRAINT `participants_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `participants_ibfk_2` FOREIGN KEY (`meeting_id`) REFERENCES `sessions_meetings` (`meeting_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `participants`
--

LOCK TABLES `participants` WRITE;
/*!40000 ALTER TABLE `participants` DISABLE KEYS */;
/*!40000 ALTER TABLE `participants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_settings`
--

DROP TABLE IF EXISTS `payment_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `key` varchar(500) DEFAULT NULL,
  `value` longtext DEFAULT NULL,
  `school_id` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=154 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_settings`
--

LOCK TABLES `payment_settings` WRITE;
/*!40000 ALTER TABLE `payment_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `student_id` int(11) NOT NULL,
  `school_id` int(11) DEFAULT NULL,
  `class_id` int(11) DEFAULT NULL,
  `invoice_id` int(11) DEFAULT NULL,
  `amount` decimal(10,2) NOT NULL,
  `currency` varchar(10) DEFAULT 'EUR',
  `payment_type` enum('school_join','class_enrol','subscription','other') NOT NULL,
  `payment_status` enum('pending','paid','failed','refunded') DEFAULT 'pending',
  `payment_method` varchar(50) DEFAULT NULL,
  `processor_name` varchar(50) DEFAULT NULL COMMENT 'Payment processor (CashPlus, Stripe, etc.)',
  `processor_fee_ht` decimal(10,2) DEFAULT NULL COMMENT 'Processor fee HT amount (3% of transaction)',
  `processor_fee_vat` decimal(10,2) DEFAULT NULL COMMENT 'Processor fee VAT amount (20% of fee HT)',
  `processor_fee_ttc` decimal(10,2) DEFAULT NULL COMMENT 'Processor fee TTC amount (HT + VAT)',
  `transaction_ref` varchar(100) DEFAULT NULL,
  `paid_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_processor_name` (`processor_name`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payouts`
--

DROP TABLE IF EXISTS `payouts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payouts` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `school_id` bigint(20) NOT NULL,
  `order_id` bigint(20) NOT NULL,
  `amount_cents` int(11) NOT NULL,
  `currency` varchar(3) NOT NULL DEFAULT 'EUR',
  `psp_transfer_id` varchar(255) DEFAULT NULL,
  `status` enum('pending','paid','failed') NOT NULL DEFAULT 'pending',
  `paid_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_payout_order` (`order_id`),
  CONSTRAINT `fk_payout_order` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payouts`
--

LOCK TABLES `payouts` WRITE;
/*!40000 ALTER TABLE `payouts` DISABLE KEYS */;
/*!40000 ALTER TABLE `payouts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question`
--

DROP TABLE IF EXISTS `question`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `question` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `title` text DEFAULT NULL,
  `quiz_id` int(11) DEFAULT NULL,
  `type` varchar(255) DEFAULT NULL,
  `number_of_options` int(11) DEFAULT NULL,
  `options` text DEFAULT NULL,
  `correct_answers` text DEFAULT NULL,
  `order` int(11) DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=123 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question`
--

LOCK TABLES `question` WRITE;
/*!40000 ALTER TABLE `question` DISABLE KEYS */;
/*!40000 ALTER TABLE `question` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quiz_responses`
--

DROP TABLE IF EXISTS `quiz_responses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `quiz_responses` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `quiz_id` int(11) NOT NULL,
  `question_id` int(11) NOT NULL,
  `submitted_answers` text NOT NULL,
  `correct_answers` text NOT NULL,
  `submitted_answer_status` tinyint(4) NOT NULL,
  `date_submitted` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quiz_responses`
--

LOCK TABLES `quiz_responses` WRITE;
/*!40000 ALTER TABLE `quiz_responses` DISABLE KEYS */;
/*!40000 ALTER TABLE `quiz_responses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rooms`
--

DROP TABLE IF EXISTS `rooms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rooms` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `school_id` int(10) unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `user_id` int(10) unsigned NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `class_id` int(11) DEFAULT NULL,
  `Etat` int(11) DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `user_id` (`user_id`),
  KEY `school_id` (`school_id`),
  CONSTRAINT `rooms_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `rooms_ibfk_2` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=176 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rooms`
--

LOCK TABLES `rooms` WRITE;
/*!40000 ALTER TABLE `rooms` DISABLE KEYS */;
/*!40000 ALTER TABLE `rooms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `routines`
--

DROP TABLE IF EXISTS `routines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `routines` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `class_id` varchar(255) DEFAULT NULL,
  `section_id` varchar(255) DEFAULT NULL,
  `subject_id` varchar(255) DEFAULT NULL,
  `starting_hour` varchar(255) DEFAULT NULL,
  `ending_hour` varchar(255) DEFAULT NULL,
  `starting_minute` varchar(255) DEFAULT NULL,
  `ending_minute` varchar(255) DEFAULT NULL,
  `day` varchar(255) DEFAULT '',
  `teacher_id` int(11) DEFAULT NULL,
  `room_id` int(11) DEFAULT NULL,
  `school_id` int(11) DEFAULT NULL,
  `session_id` varchar(255) DEFAULT '',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `routines`
--

LOCK TABLES `routines` WRITE;
/*!40000 ALTER TABLE `routines` DISABLE KEYS */;
/*!40000 ALTER TABLE `routines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schools`
--

DROP TABLE IF EXISTS `schools`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `schools` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `address` longtext DEFAULT NULL,
  `Rue` varchar(255) DEFAULT NULL,
  `Numero` varchar(50) DEFAULT NULL,
  `Ville` varchar(100) DEFAULT NULL,
  `Codepostal` varchar(20) DEFAULT NULL,
  `phone` longtext DEFAULT NULL,
  `status` int(11) NOT NULL,
  `Etat` int(11) NOT NULL DEFAULT 1,
  `description` text DEFAULT NULL,
  `access` int(11) DEFAULT NULL,
  `thumbnail` varchar(255) DEFAULT NULL,
  `category` varchar(255) DEFAULT NULL,
  `humhub_space_id` int(11) DEFAULT NULL,
  `created_date` datetime DEFAULT current_timestamp(),
  `updated_date` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `kb_parent_account_id` varchar(36) DEFAULT NULL,
  `kb_external_key` varchar(255) DEFAULT NULL,
  `psp_account_id` varchar(255) DEFAULT NULL,
  `kb_tenant_id` char(36) DEFAULT NULL,
  `kb_tenant_api_key` varchar(128) DEFAULT NULL,
  `kb_tenant_api_secret` varchar(256) DEFAULT NULL,
  `price` int(11) NOT NULL,
  `trial_start` int(11) DEFAULT NULL,
  `trial_end` int(11) DEFAULT NULL,
  `is_trial` tinyint(1) NOT NULL DEFAULT 0,
  `is_paid` tinyint(1) NOT NULL DEFAULT 0,
  `subscription_end` int(11) DEFAULT NULL,
  `subscription_status` enum('trialing','active','past_due','suspended','canceled') DEFAULT 'trialing',
  `updated_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_kb_school` (`kb_external_key`),
  UNIQUE KEY `ux_schools_kb_tenant_key` (`kb_tenant_api_key`),
  KEY `idx_schools_subscription_status` (`subscription_status`),
  KEY `idx_schools_subscription_end` (`subscription_end`),
  KEY `idx_schools_trial_end` (`trial_end`),
  KEY `idx_schools_subscription_end_status` (`subscription_end`,`subscription_status`),
  KEY `idx_schools_status` (`subscription_status`),
  KEY `idx_schools_end_status` (`subscription_end`,`subscription_status`),
  KEY `idx_schools_paid_trial` (`is_paid`,`is_trial`)
) ENGINE=InnoDB AUTO_INCREMENT=97 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schools`
--

LOCK TABLES `schools` WRITE;
/*!40000 ALTER TABLE `schools` DISABLE KEYS */;
/*!40000 ALTER TABLE `schools` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sections`
--

DROP TABLE IF EXISTS `sections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sections` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `class_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sections`
--

LOCK TABLES `sections` WRITE;
/*!40000 ALTER TABLE `sections` DISABLE KEYS */;
INSERT INTO `sections` VALUES (1,'A',1),(2,'A',2),(3,'A',3),(4,'A',4),(5,'A',5),(6,'A',6),(7,'B',6),(8,'C',6),(13,'A',8),(14,'A',9),(15,'A',10),(16,'A',11),(17,'777',12),(18,'A',13),(19,'A',14),(29,'A',23),(32,'A',26),(34,'A',27),(37,'A',29),(38,'B',1),(39,'C',1),(40,'A',30),(42,'C',30);
/*!40000 ALTER TABLE `sections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `status` int(11) DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `name` (`name`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
INSERT INTO `sessions` VALUES (1,'2024',1),(2,'2025',0),(3,'2022',0);
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions_meetings`
--

DROP TABLE IF EXISTS `sessions_meetings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions_meetings` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned NOT NULL,
  `school_id` int(10) unsigned NOT NULL,
  `meeting_id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `start_time` datetime NOT NULL,
  `end_time` datetime NOT NULL,
  `attendee_pw` varchar(50) NOT NULL,
  `moderator_pw` varchar(50) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `class_id` int(11) DEFAULT NULL,
  `room_id` int(11) DEFAULT NULL,
  `appointment_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `meeting_id` (`meeting_id`),
  KEY `user_id` (`user_id`),
  KEY `school_id` (`school_id`),
  CONSTRAINT `sessions_meetings_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `sessions_meetings_ibfk_2` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=194 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions_meetings`
--

LOCK TABLES `sessions_meetings` WRITE;
/*!40000 ALTER TABLE `sessions_meetings` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions_meetings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `settings` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `school_id` int(11) DEFAULT NULL,
  `system_name` varchar(255) DEFAULT NULL,
  `system_title` varchar(255) DEFAULT NULL,
  `system_email` varchar(255) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `address` longtext DEFAULT NULL,
  `purchase_code` varchar(255) DEFAULT NULL,
  `system_currency` varchar(255) DEFAULT NULL,
  `currency_position` varchar(255) DEFAULT NULL,
  `running_session` varchar(255) DEFAULT '',
  `language` varchar(255) DEFAULT NULL,
  `student_email_verification` varchar(255) DEFAULT NULL,
  `footer_text` varchar(255) DEFAULT NULL,
  `footer_link` varchar(255) DEFAULT NULL,
  `version` varchar(255) DEFAULT NULL,
  `fax` varchar(255) DEFAULT NULL,
  `date_of_last_updated_attendance` varchar(255) DEFAULT NULL,
  `timezone` varchar(255) DEFAULT NULL,
  `youtube_api_key` varchar(255) DEFAULT NULL,
  `vimeo_api_key` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
INSERT INTO `settings` VALUES (1,1,'Wayo Academy','Wayo Academy','abdelfattah.allam1995@gmail.com','+8801234567000','R320 UM HURAIR SECOND DUB├Å EMIRATES fff','1234ssss ff','AWG','right','1','english',NULL,'By Wayo Academy','https://wayo.academy/','7.6','1234567890','1753373099','Africa/Casablanca','AIzaSyCCEtpXJ0fHiZ8y3yMkD5Ldm-PUCLaxavs','86a5aa49f71c2e07ebb2f8036dcb9372357d54a4'),(2,31,'azazz acadmy','azazz acadmy',NULL,'06058855663','dfsdf','1234','USD','left','1','english',NULL,'By Declodet','','7.6','1234567890','1652735250','Asia/Dhaka',NULL,NULL);
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings_school`
--

DROP TABLE IF EXISTS `settings_school`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `settings_school` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `school_id` int(11) DEFAULT NULL,
  `system_currency` varchar(255) DEFAULT NULL,
  `currency_position` varchar(255) DEFAULT NULL,
  `language` varchar(255) DEFAULT NULL,
  `Tax_residence` varchar(255) DEFAULT NULL,
  `vat` int(11) DEFAULT 0,
  `vat_rat` int(11) DEFAULT 0,
  `num_vat` varchar(50) DEFAULT NULL,
  `type` varchar(255) DEFAULT NULL,
  `file` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=65 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings_school`
--

LOCK TABLES `settings_school` WRITE;
/*!40000 ALTER TABLE `settings_school` DISABLE KEYS */;
/*!40000 ALTER TABLE `settings_school` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `smtp_settings`
--

DROP TABLE IF EXISTS `smtp_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `smtp_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `mail_sender` varchar(255) DEFAULT NULL,
  `smtp_protocol` varchar(255) DEFAULT NULL,
  `smtp_host` varchar(255) DEFAULT NULL,
  `smtp_username` varchar(255) DEFAULT NULL,
  `smtp_password` varchar(255) DEFAULT NULL,
  `smtp_port` varchar(255) DEFAULT NULL,
  `smtp_secure` varchar(255) DEFAULT NULL,
  `smtp_set_from` varchar(255) DEFAULT NULL,
  `smtp_debug` varchar(255) DEFAULT NULL,
  `smtp_show_error` varchar(255) DEFAULT NULL,
  `smtp_crypto` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `smtp_settings`
--

LOCK TABLES `smtp_settings` WRITE;
/*!40000 ALTER TABLE `smtp_settings` DISABLE KEYS */;
INSERT INTO `smtp_settings` VALUES (1,'generic_smtp','smtp','smtp.office365.com','Support@wayo.cloud','rmygbkqzczrsbybx','587','','',NULL,'yes','tls');
/*!40000 ALTER TABLE `smtp_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `students` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(255) DEFAULT NULL,
  `user_id` int(11) DEFAULT NULL,
  `session` int(11) DEFAULT NULL,
  `school_id` int(11) DEFAULT NULL,
  `status` int(11) DEFAULT NULL,
  `kb_account_id_perso` varchar(36) DEFAULT NULL,
  `kb_external_key_perso` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_kb_user_perso` (`kb_external_key_perso`)
) ENGINE=InnoDB AUTO_INCREMENT=168 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `students`
--

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subjects`
--

DROP TABLE IF EXISTS `subjects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subjects` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `class_id` int(11) DEFAULT NULL,
  `school_id` int(11) DEFAULT NULL,
  `session` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subjects`
--

LOCK TABLES `subjects` WRITE;
/*!40000 ALTER TABLE `subjects` DISABLE KEYS */;
INSERT INTO `subjects` VALUES (1,'Subject  1',1,1,1),(2,'Subject  2',1,1,1),(3,'s1',3,13,1),(4,'s1',3,13,1),(5,'aaaa',3,13,1),(6,'B',1,1,1),(7,'azerdzerf',6,1,1),(8,'aaaa',7,1,1),(9,'sssss',8,1,1),(10,'efzefz',11,1,1),(11,'dsf',12,13,1),(12,'rgferegf',13,40,1),(13,'deez',2,1,1),(14,'marks',14,1,1),(15,'dddd',1,1,1);
/*!40000 ALTER TABLE `subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subscription_analytics`
--

DROP TABLE IF EXISTS `subscription_analytics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subscription_analytics` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `total_schools` int(11) DEFAULT 0,
  `active_subscriptions` int(11) DEFAULT 0,
  `trial_schools` int(11) DEFAULT 0,
  `total_revenue` decimal(10,2) DEFAULT 0.00,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_date` (`date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscription_analytics`
--

LOCK TABLES `subscription_analytics` WRITE;
/*!40000 ALTER TABLE `subscription_analytics` DISABLE KEYS */;
/*!40000 ALTER TABLE `subscription_analytics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subscription_plans`
--

DROP TABLE IF EXISTS `subscription_plans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subscription_plans` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `amount` decimal(10,2) NOT NULL DEFAULT 790.00,
  `currency` varchar(3) NOT NULL DEFAULT 'EUR',
  `interval_type` enum('month','year') NOT NULL DEFAULT 'month',
  `interval_count` int(11) NOT NULL DEFAULT 1,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `is_default` tinyint(1) NOT NULL DEFAULT 0,
  `trial_days` int(11) NOT NULL DEFAULT 14,
  `created_at` int(11) NOT NULL,
  `updated_at` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_plans_active` (`active`),
  KEY `idx_plans_default` (`is_default`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscription_plans`
--

LOCK TABLES `subscription_plans` WRITE;
/*!40000 ALTER TABLE `subscription_plans` DISABLE KEYS */;
INSERT INTO `subscription_plans` VALUES (1,'Monthly School Subscription','Standard monthly subscription for school management platform',790.00,'MAD','month',1,1,1,14,1766484683,1766484683);
/*!40000 ALTER TABLE `subscription_plans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `syllabuses`
--

DROP TABLE IF EXISTS `syllabuses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `syllabuses` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(255) DEFAULT NULL,
  `class_id` int(11) DEFAULT NULL,
  `section_id` int(11) DEFAULT NULL,
  `subject_id` int(11) DEFAULT NULL,
  `file` varchar(255) DEFAULT NULL,
  `session_id` int(11) DEFAULT NULL,
  `school_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `syllabuses`
--

LOCK TABLES `syllabuses` WRITE;
/*!40000 ALTER TABLE `syllabuses` DISABLE KEYS */;
INSERT INTO `syllabuses` VALUES (8,'esdfzsedf',1,1,1,'efd240684e5407164db49ee3f44c2d09.',3,1),(9,'aaaaaaaaaa',3,3,3,'f333488bab2e90369afb38fddc6f5a38.',1,13),(10,'sxcqscq',3,3,3,'ccdabf70d9f63e1b7d2556c40632e8b1.',1,13),(11,'fghf',1,1,1,'e56b1902ae89f12cdb253f2e4759e1ef.',1,1),(12,'sdsdf',1,NULL,NULL,'bdbc17fadf30347711a88ee9b1e5f9bb.xlsx',1,1);
/*!40000 ALTER TABLE `syllabuses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_logs`
--

DROP TABLE IF EXISTS `system_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `level` enum('DEBUG','INFO','WARNING','ERROR','CRITICAL') NOT NULL DEFAULT 'INFO',
  `message` text NOT NULL,
  `context` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`context`)),
  `created_at` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_level_time` (`level`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_logs`
--

LOCK TABLES `system_logs` WRITE;
/*!40000 ALTER TABLE `system_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teacher_permissions`
--

DROP TABLE IF EXISTS `teacher_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `teacher_permissions` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `class_id` int(11) DEFAULT NULL,
  `section_id` int(11) DEFAULT NULL,
  `teacher_id` int(11) DEFAULT NULL,
  `marks` int(11) DEFAULT 0,
  `assignment` int(11) DEFAULT 0,
  `attendance` int(11) DEFAULT 0,
  `online_exam` int(11) DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teacher_permissions`
--

LOCK TABLES `teacher_permissions` WRITE;
/*!40000 ALTER TABLE `teacher_permissions` DISABLE KEYS */;
INSERT INTO `teacher_permissions` VALUES (1,1,1,1,1,0,1,0),(3,3,3,7,1,0,1,0),(4,3,3,4,1,0,1,0),(5,6,7,11,1,0,1,0),(6,1,NULL,9,1,0,1,0),(7,31,NULL,15,1,0,1,0),(8,2,NULL,1,1,0,1,0),(9,1,NULL,18,1,0,1,0);
/*!40000 ALTER TABLE `teacher_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teachers`
--

DROP TABLE IF EXISTS `teachers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `teachers` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `designation` varchar(255) DEFAULT NULL,
  `school_id` int(11) DEFAULT NULL,
  `social_links` longtext DEFAULT NULL,
  `about` longtext DEFAULT NULL,
  `show_on_website` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teachers`
--

LOCK TABLES `teachers` WRITE;
/*!40000 ALTER TABLE `teachers` DISABLE KEYS */;
/*!40000 ALTER TABLE `teachers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_schools`
--

DROP TABLE IF EXISTS `user_schools`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_schools` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(11) unsigned NOT NULL,
  `school_id` int(11) unsigned DEFAULT NULL,
  `role` varchar(50) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user_school` (`user_id`,`school_id`),
  KEY `school_id` (`school_id`),
  CONSTRAINT `user_schools_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `user_schools_ibfk_2` FOREIGN KEY (`school_id`) REFERENCES `schools` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_schools`
--

LOCK TABLES `user_schools` WRITE;
/*!40000 ALTER TABLE `user_schools` DISABLE KEYS */;
INSERT INTO `user_schools` VALUES (1,353,91,'admin','2025-11-11 16:44:40','2025-11-11 16:44:40'),(2,363,92,'admin','2025-11-17 15:26:04','2025-11-17 15:26:04'),(3,266,93,'admin','2025-11-24 13:13:55','2025-11-24 13:13:55'),(4,364,94,'admin','2025-11-25 14:43:50','2025-11-25 14:43:50'),(5,365,NULL,'student','2025-11-26 10:16:23','2025-11-26 10:16:23'),(6,266,1,'teacher','2025-12-01 11:32:05','2025-12-01 11:32:05'),(7,123,95,'admin','2025-12-15 10:54:16','2025-12-15 10:54:16'),(8,366,96,'admin','2025-12-18 13:54:05','2025-12-18 13:54:05');
/*!40000 ALTER TABLE `user_schools` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `humhub_id` int(11) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `role` text DEFAULT NULL,
  `address` longtext DEFAULT NULL,
  `Rue` varchar(255) DEFAULT NULL,
  `Numero` varchar(50) DEFAULT NULL,
  `Ville` varchar(100) DEFAULT NULL,
  `Codepostal` varchar(20) DEFAULT NULL,
  `num_vat` varchar(50) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `remember_token` varchar(255) DEFAULT NULL,
  `birthday` varchar(255) DEFAULT NULL,
  `gender` varchar(255) DEFAULT NULL,
  `school_id` int(11) DEFAULT NULL,
  `authentication_key` varchar(255) DEFAULT NULL,
  `watch_history` longtext DEFAULT NULL,
  `status` int(11) NOT NULL COMMENT '0=deactive, 1= active, 3=new admission',
  `reset_token` varchar(255) DEFAULT NULL,
  `reset_expires_at` datetime DEFAULT NULL,
  `created_date` datetime DEFAULT current_timestamp(),
  `updated_date` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `language` varchar(255) DEFAULT NULL,
  `kb_account_id_perso` varchar(36) DEFAULT NULL,
  `kb_external_key_perso` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_kb_user_perso` (`kb_external_key_perso`)
) ENGINE=InnoDB AUTO_INCREMENT=367 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-30 12:41:20
